<launch>
  <arg name="datumName"/>
  <group ns="$(arg datumName)">
    <node pkg="using_markers" type="plotParticles" 
	  name="particlePlotter" output="screen"/>

    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/$(arg datumName).stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/$(arg datumName).stl"/>
  </group>
</launch>
